*{
    font-family: 'Karla', sans-serif;
}
body{
    margin: auto;
    background: hsl(0, 0%, 96%);
    display: grid;
    justify-content: center;
    padding: 2rem 0;
}

.main{
    max-width: 375px;
    min-width: 280px;
    margin: 1rem; 
    border-radius: .5em;
    overflow: hidden;
}
/* ===============
    ##ads box
   =============== */

.box{
    height:17rem;
    padding: 2em;
    
    
    
}
.ads{
    background: white;
      }
h2{
    color: hsl(179, 62%, 43%);
}
.trust{
    font-size:18px;
    font-weight: 400;
    margin-bottom: 1rem;
    color: hsl(71, 73%, 54%);
}
.text{
      color: hsl(218, 22%, 67%);
}

/* ===============
    ##signup box
   =============== */
.payment{
    height:15rem;
    background: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
}
 .price{
     margin-bottom:1em;
     color:hsl(204, 43%, 93%);
 }
 b{
     font-size:30px;
     padding-right: .2em;
     color:hsl(204, 43%, 93%);

 }  
.per-day{
    margin-bottom:2.5rem;
}
button{
    width: 100%;
    height: 4rem;
    font-size: 18px;
    font-weight: 600;
    background:hsl(71, 73%, 54%);
    border:none;
    border-radius: 4px;
    box-shadow: 3px 5px 10px 5px rgba(122, 122, 122, 0.329); 
    color:white;
}

/* ===============
    ##about box
   =============== */


.about{
    color: hsl(204, 43%, 93%);
    background:hsla(179, 62%, 43%, 0.801);
}

@media screen and (min-width:1000px) {

    *{
        margin:0 ;
        padding: 0;
    }
    
    body{
        height: 100vh;
        display:grid;
        justify-content: center;
        align-content: center;
    }
    .main{
        max-width: 45rem;
        display: grid;
        grid-template-columns: auto auto;
        box-shadow: 1px 1px 15px 9px hsl(0, 0%, 89%);
    }
    h2,h3{
        padding-bottom: 1rem;
    }
    
    .ads{
        grid-column: 1/3;
        height: 9rem;

    }

    .box{
        padding: 3em;
    }
  .payment{
    height: 13rem;
  }
   
  .about{
    height: 13rem;
  }

}
